body{
  font-family: 'Fresca', sans-serif;
  background-color: #011627;
  color: #FDFFFC;
  text-align: center;
  font-size: large;
  border: 40px solid #2EC486;
}
.Jumbotron{
  font-size: 25px;
}
img {
  border-radius: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 500px;
}
.creator{
  text-align: left;
  font-size: 22px;
}
#h1{
  font-size: 50px;
}
.column {
  float: left;
  width: 50%;
  padding: 5px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}
.inputarea{
  position: absolute;
  bottom: 0;
}
#ques{
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
}
#answ{
  border: 2px solid #ccc;
  background-color: #ddd;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
}
