<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="icon" type="image/gif/png" href="/home/kartikey/web_d/icon.png">
    <title>ChatBot Site</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
      <link rel="stylesheet" href={{ url_for('static',filename ='css/front_end.css')}}>
      <link href="https://fonts.googleapis.com/css?family=Fresca&display=swap" rel="stylesheet">

      {% block head %}{% endblock %}
  </head>
  <body>
    {% block body %}{% endblock %}
    <nav class="navbar navbar-inverse">
      <ul class="nav nav-pills">
        <li role="presentation"><a href="{{ url_for('front_end')}}">Home</a></li>
        <li role="presentation" class="active"><a href="{{ url_for('chatbot')}}">ChatBot</a></li>
        <li role="presentation"><a href="{{ url_for('Sources') }}">Sources</a></li>
      </ul>
    </nav>
    <br>
    <br>

    {% for a,b in n %}
    <p align="right"><span style="border: 2px #edd691 solid; background-color: #000000; border-radius: 5px">{{ a }}</span></p>
    <p align="left"><span style="border: 2px #ffffff solid; background-color: #000000; border-radius: 5px">{{ b }}</span></p>
    {% endfor %}

    <div id ="inputarea" style="color:black">
      <form class="" action="/chatbot" method="post">
        <label>Input:</label>
      <span style="">
        <input type="text" name="Input" autofocus="autofocus"autocomplete="false" placeholder="Question" >
      </span>
        <input type="submit" name="" value="Submit">
      </form>
    </div>
  </body>
</html>
